h1 {
    font-family: 'Roboto', sans-serif;

}

#logo1 {
    font-size: 1.5rem;
}
.name {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 1.5rem;
}

body {
    padding-top: 56px;
    background-color: rgb(148, 136, 136);
   
}

footer{
    background-color: grey;
    color:white;
    text-align: center;
    margin-top: 60px;
      
}